
body {
  text-align: center;
  background-color: white;
  color: black;
}

.darkMode {
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MovieBox {
  border: 5px solid black;
  background-color: #6699ad;
  width: 45%;
  text-align: center;
  padding: 20px;
  float: left;
  margin: center;
}

.LogOut {
  float: left;
  width: 60px;
  height: 30px;
  margin: 50px;
  text-align: center;
}

.Coin {
  border: 5px solid black;
  width: 30%;
  text-align: center;
  float: left;
  background-color: #d9876f;
  padding: 20px;
}

.LogIn {
  background-color: lightblue;
  text-align: center;
  font-size: large;
}